PORT=3000
AUTH_SERVICE_URL=http://auth-service:4001
ACADEMIC_SERVICE_URL=http://academic-service:4002
FINANCE_SERVICE_URL=http://finance-service:4003
HR_SERVICE_URL=http://hr-service:4004
NOTIFICATION_SERVICE_URL=http://notification-service:4005
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=100
